################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/1Rust-Internal-Recode/v16/Browse.VC.db
