################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/1Rust-Internal-Recode/v16/Browse.VC.db
/packages/Costura.Fody.5.7.0
/.vs
/x64
/server/x64/Debug
/server/x64/Release/server.tlog
/server/x64/Release
